<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="HaikuOnAStick.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Haiku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
	</startup>
	<applicationSettings>
		<Haiku.Properties.Settings>
			<setting name="FlashFileName" serializeAs="String">
				<value>flashnul.exe</value>
			</setting>
			<setting name="RegexMatch" serializeAs="String">
				<value>\S*(zip)\S*</value>
			</setting>
			<setting name="USBMemorySize" serializeAs="String">
				<value>512</value>
			</setting>
			<setting name="FlashFileSource" serializeAs="String">
				<value> {0} -L "{1}"</value>
			</setting>
			<setting name="FileFilter" serializeAs="String">
				<value>Image file (*.image)|*.image|Zip files (*.zip)|*.zip</value>
			</setting>
			<setting name="ServerUrl" serializeAs="String">
				<value>http://haiku-files.org/raw/index.php; http://haiku-files.org/raw/index.php?ShowAll</value>
			</setting>
			<setting name="ServerUrlText" serializeAs="String">
				<value>haiku-files.org; haiku-files.org ShowAll</value>
			</setting>
		</Haiku.Properties.Settings>
	</applicationSettings>
</configuration>
